.plots-container{
    width:50vw;
    margin-left: 20px;
    margin-right: 20px;
   
    display:flex;
    flex-wrap:wrap;
}
.modal-header{
    width:100%
}
.container{
    width:100%;
    text-align:center;
}
