<div class="container-metrics">
    <highcharts-chart
        [Highcharts]="Highcharts"
        [constructorType]="chartConstructor"
        [options]="chartOptions"

        style="width:80%; height:200px; display:block"
    >
        
    </highcharts-chart>
    <highcharts-chart
        [Highcharts]="Highcharts"
        [constructorType]="chartConstructor"
        [options]="chartOptions"

        style="width:80%; height:200px; display:block"
    >
        
    </highcharts-chart>
</div>
<div class="container-metrics">
    <highcharts-chart
        [Highcharts]="Highcharts"
        [constructorType]="chartConstructor"
        [options]="chartOptions"

        style="width:80%; height:200px; display:block"
    >
        
    </highcharts-chart>
    <highcharts-chart
        [Highcharts]="Highcharts"
        [constructorType]="chartConstructor"
        [options]="chartOptions"

        style="width:80%; height:200px; display:block"
    >
        
    </highcharts-chart>
</div>
<div class="container-metrics">
    <highcharts-chart
        [Highcharts]="Highcharts"
        [constructorType]="chartConstructor"
        [options]="chartOptions"

        style="width:80%; height:200px; display:block"
    >
        
    </highcharts-chart>
    <highcharts-chart
        [Highcharts]="Highcharts"
        [constructorType]="chartConstructor"
        [options]="chartOptions"

        style="width:80%; height:200px; display:block"
    >
        
    </highcharts-chart>
</div>