.btn-primary{
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    margin-left:20px;
    background-color: rgb(16, 8, 105);
}
.container-model{
    background-color: rgb(235, 231, 231);
    
    
}