.col-md-12{
    height: 90%;
    // overflow-y: scroll
    // overflow: auto;
}
// .top-chatbot{
//     background-color: rgb(62, 107, 205);
//     border-radius: 25px;
//     height:40px
    
// }
.input-group{
    padding-bottom: 10px;
}
.container{
    // margin-top: 10px;
    border-radius: 25px;
    border-style:groove;
    width: 50%;
    // margin-right: 20px;
    background-color:#d8d8d8;
    height:80vh;
    padding-bottom: 20px;
    margin:5px 5px 2px 5px;
    // flex:1;
}
.heading-container{
  // background-color: rgb(88, 88, 89);
    color:BLACK;
    padding-top:5px;
}
input{
    float:right;
    width:100%;
    
}

.btn-outline-secondary{
    background-color: rgb(5, 56, 119);
    color: white;
}
.model-container{
    // height:100%;
    margin-top: 5px;
    display: flex;
    
}
.plots-container{
    width:50%;
    // margin-right:90%
}
.user-img{
    width: 32px;
    height:35px;
    margin-left: 5px;
    float:right;
}

// .bot-img{
//     width: 32px;
//     height:35px;
//     float:left;
// }
.card-text{
    text-align:left;
    font-size: large;
}
// .chatbot-text{
//     text-align:left;
// }
.card{
    width:fit-content;
    margin-top: 5px;
    margin-right:5px;
    text-wrap: wrap;
    background-color:#0d6efd;
    border-radius: 25px;
    height:fit-content
}
// .response-msgs{
//     float:left;
//     width:70%;
//     margin-top: 5px;
//     margin-left:5px;
//     text-wrap: stable;
// }
.user-prompts{
    width:90%;
}