.col-md-12{
    height: 90%;
    overflow-y: scroll
    // overflow: auto;
}
// .top-chatbot{
//     background-color: rgb(62, 107, 205);
//     border-radius: 25px;
//     height:40px
    
// }
.container{
    // margin-top: 10px;
    border-radius: 25px;
    border-style:groove;
    width: 50%;
    // margin-right: 20px;
    background-color:rgb(235, 235, 237);
    height:80vh;
    // flex:1;
}
input{
    float:right;
    width:100%;
    
}

.btn-outline-secondary{
    background-color: rgb(135, 181, 237);
    color: white;
}
.model-container{
    // height:100%;
    margin-top: 5px;
    display: flex;
    
}
.plots-container{
    width:50%;
    // margin-right:90%
}
.user-img{
    width: 32px;
    height:35px;
    margin-left: 5px;
    float:right;
}

.bot-img{
    width: 32px;
    height:35px;
    float:left;
}
.card-text{
    text-align:right;
}
.chatbot-text{
    text-align:left;
}
.incoming-msgs{
    float:right;
    width :70%;
    margin-top: 5px;
}
.response-msgs{
    float:left;
    width:70%;
    margin-top: 5px;
}
.user-prompts{
    width:90%
}