/* You can add global styles to this file, and also import other style files */

html,body{
    height:100%;
    margin:0
}
.modal-lg{
    max-width:55vw !important;
    width:55vw !important;
}
.modal-dialog-centered{
    max-width:80vw !important;
    width:40vw !important;
}

// .modal-body{
//     width:30vw !important;
// }
// .modal-dialog{
//     // align-self: center;
//     width:30vw !important;
// }