<div class="main-container">
  <div class="title-block">
    <h3>METRICS</h3>
  </div>
  <div class="container">
    <div class="card text-white bg-dark mb-3">
      <div class="card-header">TOXICITY</div>
      <div class="card-body">
        <p>This factor tells about xyz of the prompt</p>
        <!-- <button (click)="showScoreOnCellClick()" class="btn btn-primary">Know More</button> -->
      </div>
    </div>
    <div class="card text-white bg-dark mb-3">
      <div class="card-header">ANONYMIZE</div>
      <div class="card-body">
        <p>This factor tells about xyz of the prompt</p>
        <!-- <button class="btn btn-primary">Know More</button> -->
      </div>
    </div>
    <div class="card text-white bg-dark mb-3">
      <div class="card-header">INVISIBLE TEXT</div>
      <div class="card-body">
        <p>This factor tells about xyz of the prompt</p>
        <!-- <button class="btn btn-primary">Know More</button> -->
      </div>
    </div>
    <div class="card text-white bg-dark mb-3">
      <div class="card-header">SENTIMENT</div>
      <div class="card-body">
        <p>This factor tells about xyz of the prompt</p>
        <!-- <button class="btn btn-primary">Know More</button> -->
      </div>
    </div>
    <div class="card text-white bg-dark mb-3">
      <div class="card-header">GIBBERISH</div>
      <div class="card-body">
        <p>This factor tells about xyz of the prompt</p>
        <!-- <button class="btn btn-primary">Know More</button> -->
      </div>
    </div>
    <div class="card text-white bg-dark mb-3">
      <div class="card-header">PROMPT INJECTION</div>
      <div class="card-body">
        <p>This factor tells about xyz of the prompt</p>
        <!-- <button class="btn btn-primary">Know More</button> -->
      </div>
    </div>
  </div>
  
</div>
<div class="score-container">
  <button (click)="showScoreOnCellClick()" class="btn btn-primary">Detailed Score</button>
</div>
