<div class="main-container">
  <div class="title-block">
    <h3>METRICS</h3>
  </div>
  <div
    style="margin: 20px 20px 20px 20px"
    [ngClass]="{
      'card text-white': true,
      'bg-dark mb-3': true,
      
    }"
  >
    <div class="card-header">BAN TOPICS</div>
    <div class="card-body">
      <p>
        This scanner is designed to restrict specific topics, such as religion,
        violence, from being introduced in the prompt using Zero-Shot
        classifier.
      </p>
      <div class="score-container">
        <button
          type="button"
          [disabled]="metricsDataArray.length == 0"
          (click)="showBanTopicsOnCellClick()"
          class="btn btn-light"
        >
          Topics Score
        </button>
      </div>
      <!-- <button (click)="showScoreOnCellClick()" class="btn btn-primary">Know More</button> -->
    </div>
  </div>

  <div class="container">
    <div
      [ngClass]="{
        'card text-white': true,
        'bg-dark mb-3': metricsDataArray.length == 0,
        'bg-success mb-3':
          metricsDataArray.length != 0 && metricsDataArray[0].value < 30,
        'bg-warning mb-3':
          metricsDataArray.length != 0 &&
          metricsDataArray[0].value < 70 &&
          metricsDataArray[0].value >= 30,
        'bg-danger mb-3':
          metricsDataArray.length != 0 && metricsDataArray[0].value >= 70
      }"
    >
      <div class="card-header">SECRETS</div>
      <div class="card-body">
        <p>
          This scanner diligently examines user inputs, ensuring that they don't
          carry any secrets before they are processed by the language model.
        </p>
        <!-- <button (click)="showScoreOnCellClick()" class="btn btn-primary">Know More</button> -->
      </div>
    </div>
    <div
      [ngClass]="{
        'card text-white': true,
        'bg-dark mb-3': metricsDataArray.length == 0,
        'bg-success mb-3':
          metricsDataArray.length != 0 && metricsDataArray[1].value < 30,
        'bg-warning mb-3':
          metricsDataArray.length != 0 &&
          metricsDataArray[1].value < 70 &&
          metricsDataArray[1].value >= 30,
        'bg-danger mb-3':
          metricsDataArray.length != 0 && metricsDataArray[1].value >= 70
      }"
    >
      <div class="card-header">ANONYMIZE</div>
      <div class="card-body">
        <p>
          The Anonymize Scanner acts as your digital guardian, ensuring your
          user prompts remain confidential and free from sensitive data
          exposure.
        </p>
        <!-- <button class="btn btn-primary">Know More</button> -->
      </div>
    </div>
    <div
      [ngClass]="{
        'card text-white': true,
        'bg-dark mb-3': metricsDataArray.length == 0,
        'bg-success mb-3':
          metricsDataArray.length != 0 && metricsDataArray[2].value < 30,
        'bg-warning mb-3':
          metricsDataArray.length != 0 &&
          metricsDataArray[2].value < 70 &&
          metricsDataArray[2].value >= 30,
        'bg-danger mb-3':
          metricsDataArray.length != 0 && metricsDataArray[2].value >= 70
      }"
    >
      <div class="card-header">INVISIBLE TEXT</div>
      <div class="card-body">
        <p>
          The Invisible Text Scanner is designed to detect and remove
          non-printable, invisible Unicode characters from text inputs.
        </p>
        <!-- <button class="btn btn-primary">Know More</button> -->
      </div>
    </div>
    <div
      [ngClass]="{
        'card text-white': true,
        'bg-dark mb-3': metricsDataArray.length == 0,
        'bg-success mb-3':
          metricsDataArray.length != 0 && metricsDataArray[3].value < 30,
        'bg-warning mb-3':
          metricsDataArray.length != 0 &&
          metricsDataArray[3].value < 70 &&
          metricsDataArray[3].value >= 30,
        'bg-danger mb-3':
          metricsDataArray.length != 0 && metricsDataArray[3].value >= 70
      }"
    >
      <div class="card-header">PROMPT INJECTION</div>
      <div class="card-body">
        <p>
          It is specifically tailored to guard against crafty input
          manipulations targeting large language models (LLM).
        </p>
        <!-- <button class="btn btn-primary">Know More</button> -->
      </div>
    </div>
  </div>
</div>
<div class="score-container">
  <button
    type="button"
    [disabled]="metricsDataArray.length == 0"
    (click)="showScoreOnCellClick()"
    class="btn btn-primary"
  >
    Detailed Score
  </button>
</div>

<!-- [disabled]="metricsDataArray.length == 0" -->


<!-- 'bg-success mb-3':
        metricsDataArray.length != 0 && metricsDataArray[4].value < 30,
      'bg-warning mb-3':
        metricsDataArray.length != 0 &&
        metricsDataArray[4].value < 70 &&
        metricsDataArray[4].value >= 30,
      'bg-danger mb-3':
        metricsDataArray.length != 0 && metricsDataArray[4].value >= 70 -->